<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="stylesheets/resume.css" media="all" />
	<link rel="stylesheet" type="text/css" href="stylesheets/body.css" media="all" />
	<style type="text/css">
		.container{width:1350px;}
	</style>
</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Mohammad Wasiuddin Ahmed</h1>
					<h3><a href="http://www.heroku.com">MWAhmed.heroku.com</a></h3>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="mailto:wasiuddin.ahmed@utoronto.ca">wasiuddin.ahmed@utoronto.ca</a></h3>
						<h3>(647)-982-0641</h3>
						<h3>#419-75 Thorncliffe Park Drive, Toronto, ON M4H 1L4</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of Toronto (2009-Present)</h2>
							<h3>BASc Computer Engineering </h3>
						</div>
					</div><!--// .yui-gf -->

<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Work Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
						<div class="job">
								<h2>Design Center Supervisor<br>
						 University of Toronto</h2>
								<h4>January 2012 - Present</h4>
 </p>
							</div>

							<div class="job last">
								<h2>Webmaster<br>
						Engineering Society | University of Toronto</h2>
								<h4>January 2012 - Present</h4>
 </p>
							</div>
						</div>
					</div>

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Certification</h2>
						</div>
						<div class="yui-u">
							<div class="job last">
								<h2>Microsoft Certified IT Professional (MCITP), Enterprise Administrator</h2>
							</div>
						</div>
					</div><!--// .yui-gf -->


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>C/C++</li>
								<li>NIOS II Assembly</li>
								<li class="last">Verilog</li>
							</ul>


							<ul class="talent">
								<li>Ruby</li>
								<li>Ruby on Rails</li>
								<li class="last">Git / Subversion</li>
							</ul>

							<ul class="talent">
								<li>HTML / CSS</li>
								<li>Windows Server 2003 / 2008</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Web Development</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job last">
								<h2>NoobSkoop</h2>
								<p> </p>
							</div>
						</div>
					</div>

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2><%=link_to "Projects",projects_path%></h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2><%=link_to "Lego Crane",ece243_path%></h2>
							</div>

							<div class="job">
								<h2><%=link_to "Android/Arduino RC Car",rccar_path%></h2>
								
							</div>

							<div class="job">
								<h2><%=link_to "3D Controller",coordinate_path%></h2>
							</div>

							<div class="job last">
								<h2><%=link_to "Storage Server",ece297_path%></h2>
							</div>


						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>References</h2>
						</div>
						<div class="yui-u">
							<h2>Available upon request</h2>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Mohammad Ahmed &mdash; <a href="mailto:wasiuddin.ahmed@utoronto.ca">wasiuddin.ahmed@utoronto.ca</a> &mdash; (647) - 982-0641</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

