<% form_for @support, :url => { :action => "create" }, :html => { :method => :post } do |f| %>



  <div class="field">
    <%= f.label "Name" %>
    <%= f.text_field :sender_name %>
  </div>
<br>
  <div class="field">
    <%= f.label "Email" %>
    <%= f.text_field :email %>
  </div>
<br>
  <div class="field">
    <%= f.label "Type" %>
    <%= f.select :support_type, options_for_select(["Bug", "Ask", "Idea"]) %>
  <div>
<br>
  <div class="field">
    <%= f.label "Details" %>
    <%= f.text_area :content %>
  </div>
<br>

  <div class="actions">
    <%= f.submit"Submit"%>
  </div>
<br>
<% end %>
